@if (false) {
  <app-diretiva-ngif />
}
@if (false) {
  <app-diretiva-ngswitch />
}

@if (false) {
  <app-diretiva-ngfor />
}

@if (false) {
  <app-diretiva-ngclass />
}

@if (false) {
  <app-diretiva-ngstyle />
}

@if (false) {
  <app-operador-elvis />
}

<app-exemplo-ng-content>
  <div class="titulo">
    <h1>Este é o título do componente</h1>
  </div>
  <div class="titulo">
    <h1>Este é o título do componente dois</h1>
  </div>
  <div class="corpo">
    <p>Este é o conteúdo interno do componente.</p>
  </div>
</app-exemplo-ng-content>
