<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency: 'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>URL: {{ livro.url }}</p>
<hr />

<p>Livro: {{ livro | json }}</p>

<hr />

<input type="text" [(ngModel)]="filtro" />

<hr />

<input type="text" #novoValor />
<button type="submit" (click)="addCurso(novoValor.value)">Add curso</button>

<h3>Pipe Puro</h3>

<ul>
  @for (liv of livros | filtroArray: filtro; track $index) {
    <li>{{ liv }}</li>
  }
</ul>
<h3>Pipe Impuro</h3>

<ul>
  @for (liv of livros | filtroArrayImpuro: filtro; track $index) {
    <li>{{ liv }}</li>
  }
</ul>
